#NcR

In [2]:
n = int(input())
r = int(input())

N_fact = 1
for i in range(1,n+1):
  N_fact = N_fact*i

R_fact = 1
for i in range(1,r+1):
  R_fact = R_fact*i

N_R_fact = 1
for i in range(1,n-r+1):
  N_R_fact = N_R_fact*i

ans = N_fact//(N_R_fact*R_fact)
print(ans)

4
3
4

## Using Functions for NcR

In [3]:
def fact(n):
  N_fact = 1
  for i in range(1,n+1):
    N_fact = N_fact*i
  return N_fact

In [4]:
n = int(input())
r = int(input())
N_fact = fact(n)
R_fact = fact(r)
N_R_fact = fact(n-r)
ans = N_fact//(N_R_fact*R_fact)
print(ans)

4
2
6

In [12]:
def ncr(n,r):
  N_fact = fact(n)
  R_fact = fact(r)
  N_R_fact = fact(n-r)
  ans = N_fact//(N_R_fact*R_fact)
  return ans

In [13]:
ncr(5,2)

10

1.   Readablity increases
2.   Testing becomes easy

# Prime or not

In [7]:
def isprime(n):
  for d in range(2,n):
    if (n % d == 0):
      break
  else:
    return True
  return False

In [8]:
isprime(9)

False

In [9]:
isprime(7)

True

## Using nested functions

In [10]:
def Primefrom2toN(n):
  for k in range(2,n+1):
    is_k_prime = isprime(k)
    if (is_k_prime):
      print(k)

In [11]:
Primefrom2toN(30)

2
3
5
7
11
13
17
19
23
29

# Local & Global variable

In [14]:
def f3():
  b3 = 12 #local variable
  print(b3)
  print(a3)
  #print(c3)
a3 = 10  # gloab variable
print(a3)
f3()
c3 = 20

10
12
10



*   global var can be declared anywhere (after function or before function)
*   global var should be defined before calling functions
*   global var can also be used with local var in functions
*   but global var cant be changed inside function bcoz it assumes that we created  local var

In [15]:
a4 = 13
def f4():
  a4 = 12
  print(a4)
  print(id(a4))
print(a4)
f4()
print(a4)
print(id(a4))

13
12
10914848
13
10914880

to make it global write golab a4 in f4()

In [16]:
a4 = 13
def f4():
  global a4
  a4 = 12
  print(a4)
  print(id(a4))
print(a4)
f4()
print(a4)
print(id(a4))

13
12
10914848
12
10914848

# Fahrenheit to Celsius Function

In [19]:
def printTable(start,end,step):
  while(start <= end):
        C = (start - 32) * (5/9)
        print(start,"\t",int( C))
        start = start + step    
        pass 
		   
s = int(input())
e = int(input())
step = int(input())
printTable(s,e,step)

0
100
20
0 	 -17
20 	 -6
40 	 4
60 	 15
80 	 26
100 	 37

#Fibonacci member

In [21]:
f = 0
s = 1
t = 1
def checkMember(n):
    global f
    global s
    global t
    while t <= n:
      t = f + s
      f = s
      s = t
      if f == n:
        return 1
    pass
n=int(input())
if(checkMember(n)):
    print("true")
else:
    print("false")

10
false

# Palindrome

In [23]:
def reverse(n):
    rev = 0
    while(n >0):
        rem = n % 10
        rev = (rev * 10) + rem
        n = n//10
    return rev 

def checkPalindrome(num):
    rev = reverse(num)
    if rev == num:
        return 1
    else:
        return 0
    
		
num = int(input())
isPalindrome = checkPalindrome(num)
if(isPalindrome):
	print('true')
else:
	print('false')

7
true

# Armstrong number

In [22]:
def armstrong(n):
    d = 0
    temp = n
    while temp > 0:
        temp = temp // 10
        d = d + 1
    arm = 0
    while n > 0:
        rem = n % 10
        arm = arm + rem ** d 
        n = n // 10
    return arm

n = int(input())
temp = n
x = armstrong(n)
if temp == x:
    print("true")
else:
    print("false")

6
true