# this is pandas notebook

In [65]:
import pandas as pd

In [66]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()

In [67]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [68]:
print(df.shape)
print(df.dtypes)

(149, 5)
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

column headers not correct so lets make it correct

In [69]:
df.columns #headers we are using

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [70]:
df.columns = ['sepal_length','sepal_width','petal_length','petal_width','flower_type']

In [71]:
print(df.shape)
print(df.dtypes)
print(df.columns)

(149, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
flower_type      object
dtype: object
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'flower_type'],
      dtype='object')

In [72]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [73]:
#access the col using df.sepal_length or df["sepal_length"]
df.sepal_length

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [74]:
df.isnull

<bound method DataFrame.isnull of      sepal_length  sepal_width  petal_length  petal_width     flower_type
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]>

In [75]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  flower_type
0           False        False         False        False        False
1           False        False         False        False        False
2           False        False         False        False        False
3           False        False         False        False        False
4           False        False         False        False        False
..            ...          ...           ...          ...          ...
144         False        False         False        False        False
145         False        False         False        False        False
146         False        False         False        False        False
147         False        False         False        False        False
148         False        False         False        False        False

[149 rows x 5 columns]

In [76]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
flower_type     0
dtype: int64

In [77]:
df.iloc[1:4,2:4]

   petal_length  petal_width
1           1.3          0.2
2           1.5          0.2
3           1.4          0.2

In [78]:
a = df.drop(0) #it creates a copy thats why we used a as another
a.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [79]:
#when to use it in that particular df use inplace
df.drop(0,inplace=True)
df

     sepal_length  sepal_width  petal_length  petal_width     flower_type
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
5             4.6          3.4           1.4          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[148 rows x 5 columns]

this 0 is not index its actually label

# dropping by label

In [80]:
df.drop(6,inplace=True) 
df.head(6)

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa
7           4.4          2.9           1.4          0.2  Iris-setosa

In [81]:
df.index

Int64Index([  1,   2,   3,   4,   5,   7,   8,   9,  10,  11,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=147)

# dropping by position

In [82]:
#df.drop(df.index[6],inplace=True)  will remove sinle index 6
df.drop(df.index[[6,8]],inplace=True) #index 6 to 8 deleted that is 9 10 11
df.head(10)

    sepal_length  sepal_width  petal_length  petal_width  flower_type
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa

In [83]:
df.sepal_length>5

1      False
2      False
3      False
4       True
5      False
       ...
144     True
145     True
146     True
147     True
148     True
Name: sepal_length, Length: 145, dtype: bool

In [84]:
df[df.sepal_length>5] # this makes a filter will only give you those rows with condition

     sepal_length  sepal_width  petal_length  petal_width     flower_type
4             5.4          3.9           1.7          0.4     Iris-setosa
9             5.4          3.7           1.5          0.2     Iris-setosa
13            5.8          4.0           1.2          0.2     Iris-setosa
14            5.7          4.4           1.5          0.4     Iris-setosa
15            5.4          3.9           1.3          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[117 rows x 5 columns]

In [85]:
df[df.flower_type == 'Iris-setosa']

    sepal_length  sepal_width  petal_length  petal_width  flower_type
1            4.7          3.2           1.3          0.2  Iris-setosa
2            4.6          3.1           1.5          0.2  Iris-setosa
3            5.0          3.6           1.4          0.2  Iris-setosa
4            5.4          3.9           1.7          0.4  Iris-setosa
5            4.6          3.4           1.4          0.3  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.0           1.4          0.1  Iris-setosa
12           4.3          3.0           1.1          0.1  Iris-setosa
13           5.8          4.0           1.2          0.2  Iris-setosa
14           5.7          4.4           1.5          0.4  Iris-setosa
15           5.4          3.9           1.3          0.4  Iris-setosa
16           5.1          3.5           1.4          0.3  Iris-setosa
17           5.7          3.8           1.7          0.3  Iris-setosa
18           5.1          3.8           1.5          0.3  Iris-setosa
19           5.4          3.4           1.7          0.2  Iris-setosa
20           5.1          3.7           1.5          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.7          0.5  Iris-setosa
23           4.8          3.4           1.9          0.2  Iris-setosa
24           5.0          3.0           1.6          0.2  Iris-setosa
25           5.0          3.4           1.6          0.4  Iris-setosa
26           5.2          3.5           1.5          0.2  Iris-setosa
27           5.2          3.4           1.4          0.2  Iris-setosa
28           4.7          3.2           1.6          0.2  Iris-setosa
29           4.8          3.1           1.6          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa
40           4.5          2.3           1.3          0.3  Iris-setosa
41           4.4          3.2           1.3          0.2  Iris-setosa
42           5.0          3.5           1.6          0.6  Iris-setosa
43           5.1          3.8           1.9          0.4  Iris-setosa
44           4.8          3.0           1.4          0.3  Iris-setosa
45           5.1          3.8           1.6          0.2  Iris-setosa
46           4.6          3.2           1.4          0.2  Iris-setosa
47           5.3          3.7           1.5          0.2  Iris-setosa
48           5.0          3.3           1.4          0.2  Iris-setosa

In [86]:
df[df.flower_type == 'Iris-setosa'].describe()

       sepal_length  sepal_width  petal_length  petal_width
count     45.000000    45.000000     45.000000    45.000000
mean       5.013333     3.433333      1.462222     0.251111
std        0.369644     0.393700      0.181269     0.110005
min        4.300000     2.300000      1.000000     0.100000
25%        4.800000     3.200000      1.400000     0.200000
50%        5.000000     3.400000      1.500000     0.200000
75%        5.200000     3.700000      1.600000     0.300000
max        5.800000     4.400000      1.900000     0.600000

# iloc vs loc

In [87]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [88]:
df.iloc[4]

sepal_length            4.6
sepal_width             3.4
petal_length            1.4
petal_width             0.3
flower_type     Iris-setosa
Name: 5, dtype: object

see the diff between iloc and loc now --> iloc works with index and loc workds with label

In [89]:
df.loc[7]

sepal_length            4.4
sepal_width             2.9
petal_length            1.4
petal_width             0.2
flower_type     Iris-setosa
Name: 7, dtype: object

# add a row

In [90]:
df.loc[0] = [1,2,3,4,"Iris-setosa"]

In [91]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower_type
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa
5           4.6          3.4           1.4          0.3  Iris-setosa

In [92]:
df.tail()

     sepal_length  sepal_width  petal_length  petal_width     flower_type
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             1.0          2.0           3.0          4.0     Iris-setosa

now the row is added at end

In [93]:
df.loc[149] = [3,4,5,7,"Iris-setosa"]
df.tail()

     sepal_length  sepal_width  petal_length  petal_width     flower_type
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica
0             1.0          2.0           3.0          4.0     Iris-setosa
149           3.0          4.0           5.0          7.0     Iris-setosa

reset index

In [94]:
df.index

Int64Index([  1,   2,   3,   4,   5,   7,   9,  11,  12,  13,
            ...
            141, 142, 143, 144, 145, 146, 147, 148,   0, 149],
           dtype='int64', length=147)

In [95]:
df.reset_index(drop=True,inplace=True) # but it creates a col of previous indexes as values which gets added to df to avoid that we used drop

In [96]:
df.index

RangeIndex(start=0, stop=147, step=1)

# how to delete column

In [97]:
df.drop('petal_length',axis = 1,inplace=True)
df

     sepal_length  sepal_width  petal_width     flower_type
0             4.7          3.2          0.2     Iris-setosa
1             4.6          3.1          0.2     Iris-setosa
2             5.0          3.6          0.2     Iris-setosa
3             5.4          3.9          0.4     Iris-setosa
4             4.6          3.4          0.3     Iris-setosa
..            ...          ...          ...             ...
142           6.5          3.0          2.0  Iris-virginica
143           6.2          3.4          2.3  Iris-virginica
144           5.9          3.0          1.8  Iris-virginica
145           1.0          2.0          4.0     Iris-setosa
146           3.0          4.0          7.0     Iris-setosa

[147 rows x 4 columns]

In [98]:
df.describe()

       sepal_length  sepal_width  petal_width
count    147.000000   147.000000   147.000000
mean       5.821769     3.045578     1.291837
std        0.941837     0.449997     0.913409
min        1.000000     2.000000     0.100000
25%        5.100000     2.800000     0.400000
50%        5.800000     3.000000     1.400000
75%        6.400000     3.300000     1.800000
max        7.900000     4.400000     7.000000

In [99]:
del df["sepal_width"]
df.describe()
#also flower type data is string so not showing

       sepal_length  petal_width
count    147.000000   147.000000
mean       5.821769     1.291837
std        0.941837     0.913409
min        1.000000     0.100000
25%        5.100000     0.400000
50%        5.800000     1.400000
75%        6.400000     1.800000
max        7.900000     7.000000

In [100]:
df = iris.copy()

In [101]:
df.columns = ['sl','sw','pl','pw','flower_type']

In [102]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [103]:
df.tail()

      sl   sw   pl   pw     flower_type
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

# add a col

In [104]:
df["diff_pl_pw"] = df["pl"] - df["pw"]
df.tail()

      sl   sw   pl   pw     flower_type  diff_pl_pw
144  6.7  3.0  5.2  2.3  Iris-virginica         2.9
145  6.3  2.5  5.0  1.9  Iris-virginica         3.1
146  6.5  3.0  5.2  2.0  Iris-virginica         3.2
147  6.2  3.4  5.4  2.3  Iris-virginica         3.1
148  5.9  3.0  5.1  1.8  Iris-virginica         3.3