# this is pandas notebook

In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
df = iris.copy()

In [3]:
df.head(3)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [4]:
print(df.shape)
print(df.dtypes)

(149, 5)
5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

column headers not correct so lets make it correct

In [5]:
df.columns #headers we are using

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

In [6]:
df.columns = ['sepal_length','sepal_width','petal_length','petal_width','flower_type']

In [7]:
print(df.shape)
print(df.dtypes)
print(df.columns)

(149, 5)
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
flower_type      object
dtype: object
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'flower_type'],
      dtype='object')

In [8]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    149.000000   149.000000
mean       5.848322     3.051007      3.774497     1.205369
std        0.828594     0.433499      1.759651     0.761292
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.400000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
#access the col using df.sepal_length or df["sepal_length"]
df.sepal_length

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sepal_length, Length: 149, dtype: float64

In [11]:
df.isnull

<bound method DataFrame.isnull of      sepal_length  sepal_width  petal_length  petal_width     flower_type
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]>

In [10]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  flower_type
0           False        False         False        False        False
1           False        False         False        False        False
2           False        False         False        False        False
3           False        False         False        False        False
4           False        False         False        False        False
..            ...          ...           ...          ...          ...
144         False        False         False        False        False
145         False        False         False        False        False
146         False        False         False        False        False
147         False        False         False        False        False
148         False        False         False        False        False

[149 rows x 5 columns]

In [13]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
flower_type     0
dtype: int64

In [15]:
df.iloc[1:4,2:4]

   petal_length  petal_width
1           1.3          0.2
2           1.5          0.2
3           1.4          0.2