In [ ]:
for i in range(1,5,2):
    print(i,end=' ')

1 3

Prime numbers using while loop #Revision

In [ ]:
n = int(input())
flag = False
d = 2
while d<n:
  if n % d ==0:
    flag = True
  d = d+1
if flag:
  print("not prime")
else:
  print("prime")

10
not prime

Prime number using for loop

In [ ]:
n = int(input())
flag = False
for d in range(2,n,1):
  if n % d == 0:
    flag = True
if flag:
  print("not prime")
else:
  print("prime")

10
not prime

Pattern

In [ ]:
n = int(input())
for i in range(1,n+1,1):
  for s in range(n-i):
    print(" ",end="")
  for j in range(i,2*i,1):
    print(j,end="")
  for j in range(2*i-2,i-1,-1):
    print(j,end="")
  print()

4
   1
  232
 34543
4567654

Prime with break

In [ ]:
n = int(input())
flag = False
for d in range(2,n,1):
  if n % d == 0:
    flag = True
    break
if flag:
  print("not prime")
else:
  print("prime")

Print prime numbers 2 to n

In [ ]:
n = int(input())
k = 2
while k <= n:
  d = 2
  flag = False
  while d < k:
    if k % d == 0:
      flag == True
      break
    d = d + 1
  if (not(flag)):
    print(k)
  k = k+1

11
2
3
4
5
6
7
8
9
10
11

In [ ]:
n = int(input())
i = 1
while i<=n:
  j = 1
  while j<=n-i+1:
    if i % 2 == 0:
      print("0",end="")
      j = j+1
    else:
      print("1",end="")
      j = j+1
  print()
  i = i+1

5
11111
0000
111
00
1

In [ ]:
n = int(input())

for i in range(1, n+1 , 1):
    for j in range(1, n-i+2, 1):
        if i%2 == 1:
            print(1, end = '')
        else:
            print(0, end = '')            
        k = k + 1        
    print()

5
11111
0000
111
00
1

In [ ]:
n = int(input())
for i in range(1,n+1,1):
    for spaces in range(1, i, 1):
        print(" ", end ='')
    for j in range(i, n+1, 1):
        print(j, end = '')
    print()
for i in range(n, 2*n - 1, 1):
    for spaces in range(2*n-i-1, 1, -1):
        print(" ", end = '')
    for k in range(2*n-i-1 ,n+1, 1):
        print(k, end = '')    
    print()

5
12345
 2345
  345
   45
    5
   45
  345
 2345
12345